{{ template "skeleton" . }}

{{ define "title" }}{{ T "Add Domain" }}{{ end }}

{{ define "css" }}
    <link rel="stylesheet" href="{{ static "mailmgmt/css/mailmgmt.css" }}">
{{ end }}

{{ define "content" }}

    <form method="post" autocomplete="off">
        {{ csrf_field }}
        
        {{ include .Data.form "mailmgmt/partials/form.tmpl" }}
        
        <div class="w-100 d-flex">
            <input type="submit" class="btn btn-standout btn-standalone" value="{{ T "Submit" }}">
        </div>
    </form>

{{ end }}

