{{ template "skeleton" . }}

{{ define "title" }}{{ T "Add Domain" }}{{ end }}

{{ define "css" }}
    <link rel="stylesheet" href="{{ static "mailmgmt/css/mailmgmt.css" }}">
{{ end }}

{{ define "content" }}

    <form method="post" autocomplete="off">
        {{ csrf_field }}

        {{ $errors := .Data.form.ErrorList }}
        {{ if (gt (len $errors) 0) }}
            <ul class="error-list">
                {{ range $Error := $errors }}
                    <li class="error"><p>{{ $Error }}</p></li>
                {{ end }}
            </ul>
        {{ end }}

        {{ range $Field := .Data.form.Fields }}
            <div class="form-group">
                <div class="form-label">
                    {{ .Label }}
                </div>
            
                {{ $errors := $Field.Errors }}
                {{ if gt (len $errors) 0 }}
                    <div class="field__errors">
                        <ul>
                            {{ range $err := $errors }}
                                <li class="field__error">{{ $err }}</li>
                            {{ end }}
                        </ul>
                    </div>
                {{ end }}
                                
                <div class="form-field">
                    {{ $Field.Field }}
                </div>

                {{ $help := $Field.HelpText }}
                {{ if gt (len $help) 0 }}
                    <div class="form-help">
                        {{ $help }}
                    </div>
                {{ end }}

            </div>
        {{ end }}
        
        <div class="w-100 d-flex">
            <input type="submit" class="btn btn-standout" value="{{ T "Submit" }}">
        </div>
    </form>

{{ end }}

