{{ template "detail_base" . }}

{{ define "view" }}
    <div class="mailmgmt-detail-list">
        {{ if gt (len .Data.users) 0 }}
        <h3 class="color-standout">{{ T "Users in this domain:" }}</h3>
        <ul>{{ range $alias := .Data.users }}
            <li>{{ $alias.Object.Email.Address }}</li>
        {{ end }}</ul>
        {{ else }}
        <h3 class="color-standout">{{ T "No users for this domain." }}</h3>
        {{ end }}
    </div>

    <div class="mailmgmt-detail-list">
        {{ if gt (len .Data.aliasses) 0 }}
        <h3 class="color-standout">{{ T "Aliasses in this domain:" }}</h3>
        <ul>{{ range $alias := .Data.aliasses }}
            <li>{{ $alias.Object.Source.Address }}</li>
        {{ end }}</ul>
        {{ else }}
        <h3 class="color-standout">{{ T "No aliasses for this domain." }}</h3>
        {{ end }}
    </div>
{{ end }}