{{ template "base" . }}

{{ define "title" }}{{ T "MailMan" }}{{ end }}

{{ define "extra_css" }}
    <link rel="stylesheet" href="{{ static "mailmgmt/css/mailmgmt.css" }}">
{{ end }}

{{ define "content" }}

{{ end }}