{{ template "skeleton" . }}

{{ define "title" }}{{ T "MailMan" }}{{ end }}

{{ define "extra_css" }}
    <link rel="stylesheet" href="{{ static "mailmgmt/css/mailmgmt.css" }}">
{{ end }}

{{ define "content" }}

<div class="mailmgmt-index">

        <div class="mailmgmt-cards">
            <a href="{{ url "mailmgmt:emails" }}" class="mailmgmt-index-card">
                <div class="mailmgmt-index-card-display-container">
                    <div class="mailmgmt-index-card-display">
                        {{ .Data.userCount }}
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="icon icon-person index-card-icon" viewBox="0 0 16 16">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                    </svg>
                </div>
                <div class="mailmgmt-index-card-title">
                    {{ T "Users" }}
                </div>
            </a>
            <a href="{{ url "mailmgmt:aliasses" }}" class="mailmgmt-index-card">
                <div class="mailmgmt-index-card-display-container">
                    <div class="mailmgmt-index-card-display">
                        {{ .Data.aliasCount }}
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="icon icon-people index-card-icon" viewBox="0 0 16 16">
                        <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1zm-7.978-1L7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002-.014.002zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0M6.936 9.28a6 6 0 0 0-1.23-.247A7 7 0 0 0 5 9c-4 0-5 3-5 4q0 1 1 1h4.216A2.24 2.24 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816M4.92 10A5.5 5.5 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0m3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4"/>
                    </svg>
                </div>
                <div class="mailmgmt-index-card-title">
                    {{ T "Aliasses" }}
                </div>
            </a>
            <a href="{{ url "mailmgmt:domains" }}" class="mailmgmt-index-card">
                <div class="mailmgmt-index-card-display-container">
                    <div class="mailmgmt-index-card-display">
                        {{ .Data.domainCount }}
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="icon icon-server index-card-icon" viewBox="0 0 16 16">
                        <path d="M1.333 2.667C1.333 1.194 4.318 0 8 0s6.667 1.194 6.667 2.667V4c0 1.473-2.985 2.667-6.667 2.667S1.333 5.473 1.333 4z"/>
                        <path d="M1.333 6.334v3C1.333 10.805 4.318 12 8 12s6.667-1.194 6.667-2.667V6.334a6.5 6.5 0 0 1-1.458.79C11.81 7.684 9.967 8 8 8s-3.809-.317-5.208-.876a6.5 6.5 0 0 1-1.458-.79z"/>
                        <path d="M14.667 11.668a6.5 6.5 0 0 1-1.458.789c-1.4.56-3.242.876-5.21.876-1.966 0-3.809-.316-5.208-.876a6.5 6.5 0 0 1-1.458-.79v1.666C1.333 14.806 4.318 16 8 16s6.667-1.194 6.667-2.667z"/>
                    </svg>
                </div>
                <div class="mailmgmt-index-card-title">
                    {{ T "Domains" }}
                </div>
            </a>
        </div>

</div>

{{ end }}