{{ template "delete_form" . }}

{{ define "header" }}
    {{ $obj := (.Get "view.object") }}
    {{ T "Delete Alias: %s" $obj.Email.Address }}
{{ end }}

{{ define "view" }}
<div class="mailmgmt-delete-list">
    {{ $obj := (.Get "view.object") }}
    {{ $users := $obj.Destination.AsList }}
    {{ if gt (len $users) 0 }}
    <h3 class="color-standout">{{ T "Users that are using this alias:" }}</h3>
    <ul>{{ range $user := $users }}
        <li>{{ $user.Model.Email.Address }}</li>
    {{ end }}</ul>
    {{ else }}
    <h3 class="color-standout">{{ T "No users are using this alias." }}</h3>
    {{ end }}
</div>
{{ end }}