{{ template "detail_base" . }}

{{ define "view" }}
<div class="mailmgmt-detail-form">

    <form 
        method="POST" 
        class="mailmgmt-detail-fields" 
        hx-post="{{ url "mailmgmt:aliasses:detail" .Data.object.Object.ID }}"
        hx-target="#main-center-content"
        hx-swap="outerHTML">

            {{ csrf_field }}
            
            {{ include .Data.object.Form.BoundForm "mailmgmt/partials/form.tmpl" }}
            
            <a href="{{ url "mailmgmt:aliasses" }}" class="btn btn-standout btn-standalone m-0">
                {{ T "Back" }}
            </a>
        
            <button class="btn btn-warning btn-standalone m-0">
                {{ T "Submit" }}
            </button>
    </form>

    <div class="mailmgmt-detail-list">
        {{ $ctx := . }}
        {{ $users := .Data.object.Object.Destination.AsList }}
        {{ if gt (len $users) 0 }}
            <p class="color-standout">{{ T "Select users to remove from this alias:" }}</p>
            <ul>
                {{ range $user := $users }}
                    {{ include ($ctx.Clone "Object" $ctx.Data.object.Object "AliasUser" $user.Model ) "mailmgmt/aliasses/partials/htmx_user_remove.tmpl" }}
                {{ end }}
            </ul>
        {{ else }}
            <p class="color-standout">{{ T "No users are using this alias." }}</p>
        {{ end }}
    </div>

</div>
{{ end }}