{{ template "skeleton" . }}

{{ define "title" }}{{ T "Delete %s" (.Get "view.object.label") }}{{ end }}

{{ define "css" }}
    <link rel="stylesheet" href="{{ static "mailmgmt/css/mailmgmt.css" }}">
{{ end }}

{{ define "content" }}
    <div class="mailmgmt-object">

        <div class="mailmgmt-header">
            {{ block "header" . }}{{ T "Delete %s" (.Get "view.object.label") }}{{ end }}
        </div>

        {{ if gt (len (.Get "view.message")) 1}}
            <div class="alert-container alert alert-danger">
                {{ if .Get "view.title" }}
                <h3>{{ .Get "view.title" }}</h3>
                {{ end }}
                {{ range $msg := .Get "view.message" }}
                <p>{{ $msg }}</p>
                {{ end }}
            </div>
        {{ end }}
    
        <div class="mailmgmt-content">

            {{ block "view" . }}{{ end }}

            <form method="POST">
                {{ csrf_field }}
            
                <div class="form-group mailmgmt-delete-confirm">
                    <label for="confirm_id" class="form-label">{{ T "Confirm" }}</label>
                    <input type="text" name="confirm" id="confirm_id" class="form-control"/>
                    <div class="form-help">
                        {{ T "Please write %q in the above textbox to delete this object." (.Get "view.confirm") }}
                    </div>
                </div>
            
                <button class="btn btn-danger btn-standalone m-0">
                    {{ T "Delete" }}
                </button>

                <a href="{{.Data.NextURL}}" class="btn btn-standout btn-standalone m-0">{{ T "Back" }}</a>
            </form>

        </div>

    </div>
{{ end }}