{{ define "modal_form" }}
    {{ if .Get "valid" }}
        <section>
            <p class="accented">{{ .Get "success_text" }}</p>
        </section>
    {{ else }}

    <form action="{{ .Request.URL.String }}" method="post" autocomplete="off" data-form-modal-target="form" hx-post="{{ .Request.URL.String }}" hx-trigger="submit" hx-target="#{{ .Get "view.modal.id" }}" hx-swap="outerHTML">
        {{ csrf_field }}

        {{ include .Data.form "mailmgmt/partials/form.tmpl" }}
        
        <div class="w-100 d-flex">
            <button type="submit" class="btn btn-standout">
                {{ T "Submit" }}
            </button>
        </div>
    </form>
    {{ end }}
{{ end }}