{{ define "form_delete" }}
<form method="POST">
    {{ csrf_field }}
    <button class="btn btn-danger btn-standalone m-0" name="confirm" value="true">
        {{ T "Delete" }}
    </button>
    
    <a href="{{.Data.NextURL}}" class="btn btn-standout btn-standalone m-0">{{ T "Back" }}</a>
</form>
{{ end }}