{{ define "list_form" }}
    {{ $ctx := . }}
    <form id="list-form" class="mailmgmt-list-toolbar noselect" method="GET" {{ block "attributes" . }}{{ end }}>
        <input type="hidden" name="page" value="{{ (.Get "view_paginator_object").PageNum }}"/>

        <div class="mailmgmt-list-actions pre">
            {{block "pre_actions" .}}{{end}}
        </div>

        <select class="mailmgmt-list-toolbar-limit form-control" name="limit" onchange="this.form.submit()" data-controller="tooltip" data-tooltip-content-value="{{ T "Limit" }}" data-tooltip-placement-value="bottom">
            {{ range $v := (.Get "view.limitChoices") }}
                <option value="{{ $v }}"{{ if (eq $v ($ctx.Get "view.limit")) }}selected{{end}}>{{ $v }}</option>
            {{ end }}
        </select>

        <div class="mailmgmt-list-search">
            <input type="text" name="search" value="{{ .Get "view.query" }}" placeholder="{{ T "Search..." }}" class="mailmgmt-list-search-input form-control"/>
            <button class="mailmgmt-list-search-button" data-controller="tooltip" data-tooltip-content-value="{{ T "Search..." }}" data-tooltip-placement-value="bottom">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="mailmgmt-action-icon" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                </svg>
            </button>
        </div>

        <div class="mailmgmt-list-actions post">
            {{block "post_actions" .}}{{end}}
        </div>

    </form>
{{ end }}