{{ template "delete_form" . }}

{{ define "header" }}
    {{ $obj := (.Get "view.object") }}
    {{ T "Delete User: %s" $obj.User.Email }}
{{ end }}

{{ define "view" }}
<div class="mailmgmt-delete-list">
    {{ if gt (len .Data.aliasses) 0 }}
        <h3 class="color-standout">{{ T "Aliasses:" }}</h3>
    <ul>{{ range $alias := .Data.aliasses }}
        <li>{{ $alias.Object.Source.Address }}</li>
    {{ end }}</ul>
    {{ else }}
    <h3 class="color-standout">{{ T "No aliasses for this user." }}</h3>
    {{ end }}
</div>
{{ end }}


