{{ define "messages" }}
    {{range $msg := (.Get "messages")}}
        {{ if eq $msg.Tag "success" }}
            <div class="message bg-success" data-messages-target="message" data-action="click->messages#closeMessage">
                <div class="message-text">{{$msg.Message}}</div>
            </div>
        {{else if eq $msg.Tag "error" }}
            <div class="message bg-danger" data-messages-target="message" data-action="click->messages#closeMessage">
                <div class="message-text">{{$msg.Message}}</div>
            </div>
        {{else if eq $msg.Tag "warning" }}
            <div class="message bg-warning" data-messages-target="message" data-action="click->messages#closeMessage">
                <div class="message-text">{{$msg.Message}}</div>
            </div>
        {{else if eq $msg.Tag "info" }}
            <div class="message bg-info" data-messages-target="message" data-action="click->messages#closeMessage">
                <div class="message-text">{{$msg.Message}}</div>
            </div>
        {{else if eq $msg.Tag "debug" }}
            <div class="message bg-debug" data-messages-target="message" data-action="click->messages#closeMessage">
                <div class="message-text">{{$msg.Message}}</div>
            </div>
        {{end}}
    {{end}}
{{ end }}