<section class="navbar-container">
    {{ $mode := mode }}
    <p id="mode-switch" data-document-target="modeSwitch" data-action="click->document#nextStyleMode">{{ T "%s Mode" $mode.Next }}</p>
    <div class="navbar">
        <div class="navbar-item navbar-left">
            <!-- <a href="{{ url "mailmgmt" }}"> -->
                <!-- <img src="{{$mode.LogoURL}}" alt="{{ T "Oops!" }}" class="navbar-image"> -->
            <!-- </a> -->
        </div>
        <div class="navbar-item navbar-center">

        </div>
        <div class="navbar-item navbar-right">
            <!-- <div class="navbar-links"> -->
                <!-- <a href="{{ url "mailmgmt:emails" }}" class="navbar-link">{{ T "Emails" }}</a> -->
            <!-- </div> -->
        </div>
    </div>
</section>
